include README.rst
include LICENSE.rst
include ChangeLog.rst
include requirements.txt
include requirements-dev.txt
include docs/conf.py
include docs/Makefile
include docs/*.png
include docs/*.rst
include extra/shareclip.service
